.cardContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  .card {
    border: 1px solid #f3f3f3;
    width: 300px;
    padding: 30px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 11px;
    background-color: #ffffff;

    h3 {
      font-size: 14px;
      color: #797d8c;
    }
    span {
      color: #04103b;
      font-weight: 700;
      font-size: 32px;
    }
  }
}
