@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #f9fafc;
}
.homeContainer {
  display: flex;
  background-color: rebeccapurple;
  justify-content: space-between;
  .middleSection {
    /* flex: 2; */
    /* margin: 10px; */
  }
}
.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: 
}
.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.homeLink {
  font-size: 1.25rem;
  color: blue;
}

.loadingComponents{
  display: flex;
}
