@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #f9fafc;
}
.homeContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 40px;
  .spinerLoaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  .middleSection {
    width: 78%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .lastSection{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.homeLink {
  font-size: 1.25rem;
  color: blue;
}

.loadingComponents {
  display: flex;
}

.mainEventDiv {
  display: flex;
  gap: 20px;
  padding: 30px 50px 30px 30px;
}
.subEventDiv {
  flex: 2;
}
