.eventContainer {
  background-color: #ffffff;
  border: 1px solid #f3f3f3;
  width: 380px;
  border-radius: 20px;
  h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #1e232a;
    margin-top: 24px;
    margin-left: 24px;
  }
  .eventCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    height: 62px;
    width: 360px;
    cursor: pointer;
    .cardInfo {
      padding: 10px;
      .eventName {
        font-weight: 600;
        font-size: 16px;
        color: #3d4756;
        line-height: 21px;
      }
      .eventDate {
        color: #797d8c;
        font-weight: 400;
        font-size: 400;
        line-height: 14px;
        margin-top: 5px;
      }
    }
    .heart {
      margin-right: 10px;
    }
  }
}
@media (max-width: 768px) {
  .eventContainer {
    /* width: 390px; */
    /* height: 217px; */
    border-radius: 6px;
    display: flex;
    align-items: center;
    align-content: center;
        flex-wrap: wrap;

    h1 {
      font-size: 16px;
      line-height: 32px;
      margin-top: 13px;
      margin-left: 13px;
      width: 100%;
    }
    .eventCard {
      width: 174px;
      height: 46px;
      border-radius: 4px;
      border: 0.74px solid #f3f3f3;
      margin: 5px;

      .cardInfo {
        .eventName {
          font-size: 11px;
          line-height: 15px;
          text-align: start;
        }
        .eventDate {
          font-size: 8px;
          line-height: 10px;
          margin-top: 1px;
        }
      }
      .heart {
        width: 12px;
        height: 15px;
      }
    }
  }
}
